section {
    .titulo_blog {
        width: 100%;
        height: 100px;
        background-color: black;
        font-size: 3.5em;
        font-weight: 800;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 0;
        color: #ffffff;
    }

    .contenedor {
        width: 100%;
        background-color: black;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 20px;

        .tarjeta {
            background-color: #fff;
            border: 1px solid rgb(12, 170, 149);
            border-radius: 5px;
            width: 430px;
            margin: 20px;
            box-shadow: 0 2px 8px rgba(255, 255, 255, 0.1);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            overflow: hidden;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }

                .contenido_tarjeta {
                    padding: 15px;
                    flex-grow: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    text-align: center;

                    h2 {
                        font-size: 1.5em;
                        font-weight: 800;
                        margin: 0 0 10px;
                    }

                    p {
                        font-size: 1em;
                        color: #000000;
                        flex-grow: 1;
                    }

                    button {
                        display: block;
                        width: 100%;
                        padding: 10px;
                        background-color: rgb(12, 170, 149);
                        color: white;
                        border: none;
                        border-radius: 5px;
                        cursor: pointer;
                        text-align: center;
                        margin-top: 10px;

                        &:hover {
                            background-color: #0c0c0c;
                        }
                    }
                }
            }
        }
}

