.formulario {
    background-color: $color_primary;
    @include flex(flex, center, center);
    height: 100vh;
    .contenedor_formulario {
        @include flex(flex, space-evenly, center);
        width: 70%;
        margin: 30px;
        background-color: $color_primary;

        div {
            &.seccion_texto {
                width: 50%;
                padding: 20px;
                text-align: left;
                display: flex; 
                flex-direction: column;
                justify-content: center; 

                h1 {
                    font-size: 3em;
                    font-weight: $font_weight_bold;
                    color: $color_secundary;
                }

                p {
                    @extend %texto;
                }
            }

            &.seccion_formulario {
                width: 50%;

                form {
                    display: flex;
                    flex-direction: column;

                    label {
                        width: 100%;
                        margin-bottom: 5px;
                        @extend %texto;
                    }

                    input[type="text"],
                    input[type="email"],
                    textarea {
                        padding: 10px;
                        margin-bottom: 20px;
                        border: 1px solid $color_accent;
                        border-radius: 5px;
                        font-size: $font_size_small;
                        box-sizing: border-box;
                    }

                    input {
                        width: 100%;
                        padding: 10px;
                    }

                    textarea {
                        height: 150px;
                        resize: none;
                    }

                    button {
                        padding: 10px 20px;
                        background-color: transparent;
                        border: 2px solid $color_secundary;
                        border-radius: 5px;
                        font-size: $font_size_small;
                        color: white;
                        cursor: pointer;
                        align-self: flex-start;
                        @include flex(flex, center, center);

                        &:hover {
                            background-color: $color_accent;
                            color: $color_secundary;
                        }

                        &:after {
                            content: '➔';
                            font-size: 1.2em;
                            margin-left: 10px;
                            transition: margin-left 0.8s;
                        }

                        &:hover:after {
                            margin-left: 20px;

                        }
                    }
                }
            }
        }
    }
}