footer {
    width: 100%;
    height: 464px;
    line-height: 70px;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

footer h2 {
    font-size: 48px;
    font-weight: 300;

}

footer div a img {
    margin: 20px;

}