.hero {
    width: 100%;
    height: 100vh;
    background-image: url(../img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding: 131px;
    display: flex;
    justify-content: right;
    align-items: center;

    h1 {
        width: 800px;
        height: 233px;
        text-align: right;
        font-weight: $font_weight_bold;
        font-size: $font_size_extra_large;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.548);
        line-height: 80px;
        color: $color_secundary;
    }
}

/** -----------CARDS------------ */
.background_cards {
    h2 {
        margin-bottom: 0;
        text-align: center;
        background-color: $color_primary;
        font-size: 60px;
        font-weight: $font_weight_bold;
        color: $color_secundary;
        padding: 50px;

        span {
            font-weight: $font_weight_light;
            font-size: 35px;
            letter-spacing: 3px;
        }
    }

    .cards {
        width: 100%;
        background-color: $color_primary;
        padding: 0px 0px 80px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        div {
            width: 296px;
            height: 414px;
            position: relative;
            margin: 20px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05); 
            }

            a {
                h3 {
                    position: absolute;
                    bottom: 0;
                    font-weight: 300;
                    font-size: 19px;
                    letter-spacing: 3px;
                    padding: 0px 0px 16px 0px;
                    color: $color_secundary;
                }
            }

            img {
                width: 100%;
                border-radius: 5px;
            }
        }
    }
}

/** -----------YO--------------- */
.yo {
    width: 100%;
    height: 720px;
    background-image: url(../img/fondo-cargo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 124px;
    color: $color_secundary;

    h2 {
        font-size: $font_size_extra_large;
        font-weight: $font_weight_bold;
        line-height: 70px;
        text-shadow: 1px 1px 20px rgba(0, 0, 0, 0.548);
        display: inline-block;
        padding: 20px 20px 10px 20px;
    }

    p {
        width: 410px;
        font-size: $font_size_small;
        font-style: italic;
        font-weight: $font_weight_normal;
        line-height: normal;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.692);
        padding: 10px 20px 20px 20px;
    }
}

/**----------- SKILLS----------- */
.skills {
    width: 100%;
    background-color: $color_primary;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 250px 250px 100px 100px;
    gap: 10px;
    grid-template-areas:
        "vision vision liderazgo"
        "pensamiento story liderazgo"
        "pensamiento multicanal inteligencia"
        "pensamiento multicanal inteligencia";

    .vision_estrategica {
        grid-area: vision;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-size: 20px;
            color: $color_secundary;
        }

        h3 {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            color: $color_secundary;
            text-shadow: 1px 1px 10px rgb(0, 0, 0);
        }
    }

    .liderazgo_inspirador {
        grid-area: liderazgo;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-size: 20px;
            color: $color_secundary;
        }

        h3 {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            color: $color_secundary;
            text-shadow: 1px 1px 10px rgb(0, 0, 0);
        }
    }

    .pensamiento_disruptivo {
        grid-area: pensamiento;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-size: 20px;
            color: $color_secundary;
        }

        h3 {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            color: $color_secundary;
            text-shadow: 1px 1px 10px rgb(0, 0, 0);
        }
    }

    .storytelling_poderoso {
        grid-area: story;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-size: 20px;
            color: $color_secundary;
        }

        h3 {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            color: $color_secundary;
            text-shadow: 1px 1px 10px rgb(0, 0, 0);
        }
    }

    .conocimiento_multicanal {
        grid-area: multicanal;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-size: 20px;
            color: $color_secundary;
        }

        h3 {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            color: $color_secundary;
            text-shadow: 1px 1px 10px rgb(0, 0, 0);
        }
    }

    .inteligencia_emocional {
        grid-area: inteligencia;
        position: relative;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            font-size: 20px;
            color: $color_secundary;
        }

        h3 {
            width: 100%;
            position: absolute;
            bottom: 0;
            font-weight: 600;
            font-size: 30px;
            text-align: center;
            padding: 10px;
            color: $color_secundary;
            text-shadow: 1px 1px 10px rgb(0, 0, 0);
        }
    }
}