$color_primary: #000000;
$color_secundary: #ffffff;
$color_terciary: #0caa95;
$font_size_extra_large: 5em;
$font_size_large: 3.5em;
$font_size_medium: 2.5em;
$font_size_small: 1em;
$font_weight_bold: 800;
$font_weight_normal: 400;
$font_weight_light: 200;