@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*! -------RESET--------*/
* {
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
}

/*?---------BOOTSTRAP-------------*/

/** -----------HEADER----------- */

.navbar-collapse {
    flex-grow: 0
}

.navbar-nav {
    padding-right: 20px;
}

.nav-item {
    padding-right: 110px;
}

.navbar .navbar-nav .nav-link:hover {
    color: $color_accent;
}

.navbar .navbar-nav .nav-link {
    transition: all .5s;
}

/** -----------BOTON----------- */
.btn-primary{
    color: $color_secundary;
    background-color: $color_accent;
    border: none;
    font-size: 20px;
    font-weight: $font_weight_normal;
    margin: 20px;
    
} 

.btn-primary:hover{
    color: $color_secundary;
    background-color: $color_primary;
    border: solid 2px $color_secundary;
    font-weight: $font_weight_bold;
} 

/** -----------CSS CONDICIONES----------- */

/** -----------CARDS----------- */
.background_cards{
    .cards{
        .bio{
            a{
                .text_bio {
                    left: 44%;
                }
            }
        } 
        .blog{
            a{
                .text_blog {
                    left: 41%;
                }
            }
        }
        .portafolio{
            a{
                .text_portafolio {
                    left: 28%;
                }
            }
        } 
        .contactame{
            a{
                .text_contactame {
                    left: 25%;
                }
            }
        }
    }
}



/** -----------WHATSAPP BOTON----------- */
.whatsapp {
    a {
        img {
            width: 60px;
            position: fixed;
            bottom: 50px;
            right: 20px;
            transition: transform 0.3s ease-in-out;

            &:hover {
                transform: scale(1.3); 
            }
        }
    }
}
